<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TASSim.Properties.Settings.ConnectionString" connectionString="Data Source=OTAS;Persist Security Info=True;User ID=tasuser;Password=tastas;Unicode=True" providerName="System.Data.OracleClient"/>
        <add name="TASQSim.Properties.Settings.ConnectionString" connectionString="Data Source=OTASDB;Persist Security Info=True;User ID=tasuser;Password=tastas;Unicode=True" providerName="System.Data.OracleClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
